@use "../../scss/variables" as *;

.btn-addTodo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	position: absolute;
	right: 0px;
	bottom: -100px;
	background-color: $primary;
}
.btn-addTodo:active {
	transform: scale(0.95);
}
