@use "../../scss/variables" as *;

.todoSearchBlock {
	position: relative;
	display: flex;
	gap: 16px;
}

.inputSvg {
	position: relative;
}

// Стили для инпута
.input {
	padding-left: 16px;
	width: 595px;
	color: var(--inputText);

	&Error {
		border: 1px solid $error;

		&:focus {
			-webkit-box-shadow: -1px 0px 15px 8px rgba(214, 8, 8, 0.42);
			-moz-box-shadow: -1px 0px 15px 8px rgba(226, 70, 31, 0.42);
			box-shadow: -1px 0px 15px 8px rgba(204, 21, 8, 0.42);
			border: 2px solid $error;
			outline: none;
		}
	}
}

// Стили для SVG
.svg {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	filter: var(--filter);

	path {
		fill: $primary;
		transition: fill 0.2s ease;
	}

	&:active {
		transform: translateY(-50%) scale(0.8);
	}

	// классы состояний
	&Disabled {
		cursor: not-allowed;
		transform: translateY(-50%) scale(1);
		opacity: 0.5;

		&:active {
			transform: translateY(-50%) scale(1);
		}
	}

	&Active {
		path {
			fill: $primary;
		}
	}

	&Error {
		path {
			fill: $error;
			cursor: not-allowed;
		}

		&:active {
			transform: translateY(-50%) scale(1);
		}
	}
}

// Сообщение об ошибке
.errorMessage {
	position: absolute;
	bottom: -25px;
	left: 0;
	color: $error;
	font-size: 12px;
}
