@use "../../scss/variables" as *;
.todo-search__block {
	display: flex;
	gap: 16px;

	&-input {
		padding-left: 16px;
		width: 595px;
		height: 38px;
		border: 1px solid $primary;
		border-radius: 5px;
		color: $primary;

		&:focus {
			-webkit-box-shadow: -1px 0px 15px 8px rgba(108, 99, 255, 0.42);
			-moz-box-shadow: -1px 0px 15px 8px rgba(108, 99, 255, 0.42);
			box-shadow: -1px 0px 15px 8px rgba(108, 99, 255, 0.42);
			border: 2px solid $primary;
			outline: none;

			&::placeholder {
				opacity: 0;
			}
		}
	}

	&-svg {
		position: absolute;
		right: 10px;
		top: 8.5px;
		cursor: pointer;
	}
	&-svg:active {
		transform: scale(0.8);
	}
}
