@use "./_variables" as *;

.dark {
	background-color: $black !important;
	color: $white;

	.todo-title,
	.todo-add__title,
	.not-found__text {
		color: $white;
	}

	.todo-list__input {
		background-color: $black;
		border: 1px solid $white;
	}

	.li-interaction__todo-editing,
	.li-interaction__todo-delete,
	.btn-left {
		background-color: $black;
	}

	.todo-add__general-box {
		background-color: $black;
		border: 1px solid $white;
	}

	input {
		border: 1px solid $white;
		color: $white;

		&::placeholder {
			color: rgb(133, 130, 130);
		}
	}
}
